.container {
  min-height: calc(100vh - 210px - 50px - 20px);
}

.layout-about {
  width: 65%;
  margin: auto;
}

@media (max-width: 1024px) {
  .layout-about {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.collapse {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .collapse {
    width: 100%;
  }
}


.banner-container {
  margin: 0px auto 0px auto;
}

.layout_housing p {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-top: 20px;
}

.layout_housing li {
  list-style: none;
}
