@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
  font-family: Monserrat, sans-serif;
}

.Annonce{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  .pics{
    display: flex;
    justify-content: center;
    img{
      width: 70%;
      height: 30%;
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .pictures{
    gap: 1.5rem;
    img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 15px;

    }
}

}
.title{
  display: flex;
  justify-content: space-between;
  color: rgba(255, 96, 96, 1);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 36px;
}
.collapse_container {
  width: 100%;
  margin-bottom: 25px;
}

.layout-collapse-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  background: #FF6060;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  border-radius: 13px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  font-weight: 700;
  position: relative;
}

@media (max-width: 1024px) {
  .layout-collapse-2 {
    font-size: 16px;
  }
}

.chevron {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.35s;
}

.chevron.down::before {
  content: "\f054"; 
  font-family: FontAwesome;
}

.chevron.up::before {
  content: "\f077"; 
  font-family: FontAwesome;
}

.location {
  margin-top: 5px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.tag {
  background-color: #FF6060; 
  border-radius: 12px;       
  padding: 5px 10px;        
  color: white;            
  display: inline-block;    
  margin-right: 7px;              
  font-size: 19px;          
}

.rating-section .rating .star {
  font-size: 2.5em; 
  display: inline-block;
  border-radius: 50%; 
  padding: 0.2em; 
}

.rating-section .rating .star.filled {
  color: #FF6060; 
}

.rating-section .rating .star.empty {
  color: rgba(227, 227, 227, 1); 
}
.collapse-box{
  display: flex;
  justify-content: space-between;
  gap: 5em;
  
}

.layout-content-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, padding 0.35s ease;
  padding: 0 20px;
  background-color: rgb(246, 246, 246);
  border-radius: 13px;
  font-size: 18px;
}

.layout-content-collapse ul {
  padding: 0;
  margin: 0;
  list-style-type: none; 
}

.layout-content-collapse ul li {
  margin-bottom: 10px;
}

.layout-content-collapse p {
  margin: 0;
  padding: 10px 0;
}

.layout-content-collapse.open {
  max-height: 10rem;
  padding: 20px;
}