.carrousel {
    position: relative;
    width: 100%;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carrousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Conserve les proportions de l'image */
    border-radius: 15px;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 44px; /* Taille des chevrons */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.left-arrow {
    left: 10px; /* Positionne le chevron gauche */
}

.right-arrow {
    right: 10px; /* Positionne le chevron droit */
}


.slide-number {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 16px;
}
