.collapse_container {
  width: 100%;
  margin-bottom: 25px;
}

.layout-collapse-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: #FF6060;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .layout-collapse-2 {
    font-size: 16px;
  }
}


.chevron {
  margin-left: 10px;
  transition: transform 0.1s;
}


.chevron.open {
  transform: rotate(180deg);
}

.layout-content-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height ;
  padding: 0 20px;
  border-radius: 5px;
}

.layout-content-collapse p {
  justify-content: center;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
}

@media (max-width: 1024px) {
  .layout-content-collapse p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.layout-content-collapse.open {
  max-height: 500px;
  padding: 20px;
}
