@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.header {
  width: 100%;
  margin: 40px auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  nav {
    display: flex;
    justify-content: end;
    ul {
      display: flex;
      gap: 50px;

      a {
        text-decoration: none;
        color: black;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        font-size: 24px;

        &.underline {
          text-decoration: underline;
        }

        &.active {
          width: auto;
        }

        svg {
          max-width: 100%;
        }
      }

      li {
        list-style: none;
      }
    }
  }
}


@media (max-width: 768px) {
  .header {
    gap: 10%;
    margin: 15px auto;
  }

  nav {
    width: 100%;
    align-items: center;
    ul {
      gap: 30px !important;
      padding: 0;
      li {

      }

      a {
        font-size: 12px !important;
        text-transform: uppercase
      }

      a.underline {
        font-size: 12px !important;
        text-transform: uppercase
      }

      a.active {
        display: flex;
        width: 40% ;
        text-transform: uppercase !important;


      }
    }
  }
}
svg {
  max-width: 100% !important;
}