@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  nav {
    ul {
      display: flex;
      gap: 50px;

      a {
        text-decoration: none;
        &.underline {
          text-decoration: underline;
        }
      }

      li {
        margin: 0 10px;
        list-style: none;
        font-family: Monserrat, sans-serif;
        font-weight: 500;
        font-size: 24px;
      }
    }
  }
}



