.Home {
  display: flex;
  flex-direction: column;
  margin-top: 5%;

  .Banner {
    position: relative;
    width: 100%;
    height: 223px;
    border-radius: 10px;
    overflow: hidden;

    /* Utiliser un pseudo-élément pour appliquer le filtre */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../assets/images/Image_source_1.jpg');
      background-size: cover;
      background-position: 80% 50%;
      background-repeat: no-repeat;

      /* Appliquer le filtre uniquement sur l'arrière-plan */
      filter: brightness(50%);
      z-index: 1; /* Placer en dessous du texte */
    }

    /* Utilisation de Flexbox pour centrer le h1 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* S'assurer que le texte est au-dessus du filtre */
    z-index: 2;
    position: relative;

    @media (max-width: 1024px) {
      height: 171px;
    }

    h1 {
      font-family: Montserrat;
      color: white;
      font-size: 2rem;
      text-align: center;
      z-index: 3; /* Toujours s'assurer que le h1 est au-dessus */
    }
  }
}
